@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
footer{
    background-color: #161616;
}
.gua{
    font-family: 'Open Sans', sans-serif;
}
.goa{
    font-family: 'Patua One', cursive;
}